<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilmLog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FilmLog.styles.css" asp-append-version="true" />
    <style>
        .navbar {
            background-color: #343a40 !important;
        }
        .navbar-brand, .nav-link, .btn-success {
            color: #ffffff !important;
        }
        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .footer {
            background-color: #f8f9fa;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">FilmLog</a>
                    <a class="btn btn-success text-white ms-3 px-4 py-2" asp-area="" asp-controller="Home" asp-action="Create">+ Yeni Film Ekle</a>
                </div>
                <form class="d-flex" asp-action="Index" method="get">
                    <input type="search" class="form-control me-2" name="searchString" value="@ViewBag.SearchString" placeholder="Film Ara">
                    <button type="submit" class="btn btn-primary px-4">ARA</button>
                </form>
               
                <a class="btn btn-primary text-white ms-3 px-4 py-2" asp-controller="Account" asp-action="LoginOrRegister">Giriş/Üye Ol</a>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2025 - <span class="fw-bold">FilmLog</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
